$red: #ff0000;
$oceanBlue: #2da6f0;

$lightGrey: #cccccc;
$whiteGrey: #f9f9f9;
$faintGrey: #f3f3f3;

$black: #000000;
$heavyBlack: #333333;

$averageBlue: #2c75d1;



$fontStack: Baskerville, Constantia, Palatino,'Times New Roman';



@mixin transition($param){
  transition: $param;
  -webkit-border-radius: $param;
  -moz-border-radius: $param;
  -ms-border-radius: $param;
}
