<%- include segment/header %>
<form method="post">
  Title<br>
  <input type="text" name="title" value="<%= post.title %>" required/><br />
  Body<br>
  <textarea name="post" rows="20" cols="100" required><%= post.post %></textarea><br />
  <input type="submit" value="Save the change" />
</form>
<%- include segment/footer %>
