<%- include segment/header %>
  <div id="backbone_app">


  </div>

  <div>
    <p>
      <a class="backbone" href="https://www.google.com">To Google</a>
    </p>
  </div>
<%- include segment/footer %>
