<%- include segment/header %>
<form method="post">
  <input type="text" name="name" placeholder="Enter your epic username" required/><br><br>
  <input type="password" name="password" placeholder="Enter your secret password" required/><br><br>
  <input type="submit" value="Login"/>
</form>
<%- include segment/footer %>
