<%- include segment/header %>
<form method="post">
  Username:<br>
  <input type="text" name="name"  required/><br><br>
  Password:<br>
  <input type="password" name="password"  required/><br><br>
  Repeat password:<br>
  <input type="password" name="password-repeat"  required/><br><br>
  Email:<br>
  <input type="email" name="email" required/><br><br>
  <input type="submit" value="Register"/>
</form>
<%- include segment/footer %>
