<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <nav>
      <ul class="pager">
        <li class="previous"><a class="backbone" data-internal="true" href="/page/{{ prev }}"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a class="backbone" data-internal="true" href="/page/{{ next }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
</div>
