    </article>

    <footer>
      <div class="container text-center">

        <hr>
        <ul class="list-inline">

          <li>
            <a href="https://github.com/TrashPanda">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/sean-tao-ab76a6102">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

        </ul>
        <p> Copyright &copy; TrashPanda 2015</p>

      </div>
    </footer>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
