<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
        <title>Bloooooog</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

  <header>
      <h1><%= title %></h1>
  </header>

  <nav>
      <span><a title="home" href="/">home</a></span>
      <% if (user) { %>
        <span><a title="new post" href="/post">new post</a></span>
        <span><a title="log out" href="/logout">log out</a></span>
      <% } else { %>
        <span><a title="login" href="/login">login</a></span>
        <span><a title="registration" href="/reg">register</a></span>
      <% } %>
  </nav>

  <article>
    <% if (success) { %>
      <div><%= success %></div>
    <% } %>
    <% if (error) { %>
      <div><%= error %> </div>
    <% } %>
