<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>TrashPanda's Coding Den</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/custom-bootstrap.css">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-hearder">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"> Meow</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class = "nav navbar-nav navbar-right">
            <% if (user) { %>
            <li role ="presentation"><a href="/post">New Post</a></li>
            <li role ="presentation"><a href="/logout">Log Out</a></li>
            <% } else { %>
            <li role ="presentation"><a href="/login">Login</a></li>
            <li role ="presentation"><a href="/reg">Register</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <hr>



    <header class="intro-header" style="">
      <div class="container">
        <section>
          <div class="page-header text-center">
            <header>
              <h1><%= title %></h1>
            </header>
          </div>
        </section>
      </div>
    </header>






    <article>
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">

        <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>

        <% } %>
        <% if (error) { %>
        <div div class="alert alert-warning">
          <%= error %>
        </div>
        <% } %>
        
      </div>
    </div>
